@import './variables.scss';

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  @extend %font-lexend;
  background-color: rgb(25, 29, 10);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 166rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(25, 29, 10);
  user-select: none;
  display: none;
  z-index: $z-blackout;
  &_active {
    display: initial;
  }
}
