@import './variables.scss';

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  @extend %font-lexend;
}

.container {
  max-width: 166rem;
  margin: 0 auto;
  padding: 0 1rem;
}
