// colors
$c-orange: #f97247;

%font-lexend {
  font-family: 'Lexend', sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 100%;
}

%font-futura {
  font-family: 'Futura', sans-serif;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 100%;
}

%font-indie {
  font-family: 'IndieFlower', sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 100%;
}

%font-inter {
  font-family: 'Inter', sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 100%;
}
