// colors
$c-orange: #f97247;
$c-brown: rgb(49, 18, 18);

%font-lexend {
  font-family: 'Lexend', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 100%;
}

%font-futura {
  font-family: 'Futura', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 100%;
}

%font-indie {
  font-family: 'IndieFlower', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 100%;
}

%font-inter {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 100%;
}
